#preloader {
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;

    background-color:#FFF;
    z-index:9999;
}

#preloader .preloader {
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50% , -50%);
        -ms-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
    background-repeat: no-repeat;
    background-position: center;
}

#preloader .preloader:after {
    content:"";
    display:block;
    width:80px;
    height:80px;
    border: 5px solid  #ddd;
    border-top: 8px solid #078a36;
    border-radius: 50%;
    /*  */
    -webkit-animation: 1s preloader linear infinite;
            animation: 1s preloader linear infinite;
}

@-webkit-keyframes preloader {
    from { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

@keyframes preloader {
    from { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}